<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="form">
            <input type="text" class="input" placeholder="title " id="type" required>
            <input type="text" class="input" id="location" placeholder="location" required>
            <button class="go" id="go">Go</button>
    </div>
    <div class="internship">
        <table>
            <tr>
                <th class="internshalla yes">
                    internshalla.com
                </th>
                <th class=" letsintern no" >
                    letsintern.com
                </th >
                <th class="intern no">
                    hellointern.com
                </th>
            </tr>
            <tr>
                <td class="ninternshalla"></td>
                <td class="nletsintern"></td>
                <td class="nintern"></td>
            </tr>
        </table>
        <div class="internshalla-internship-list present">
            <hr>
            <div class="individual-internship">
                <div class="internship-header">
                    <p class="title">FullStack Developer</p>
                    <p class="company">Tahelyani Techs.</p>
                    <p class="location">Delhi</p>
                </div>
                <div class="internship-body">
                    <div class="stipend">Paid</div>
                    <div class="apply-by">Apply by 30th Mar `18</div>
                    <div class="start">Starts 11th Mar `18</div>
                </div>
                <div class="internship-footer">
                    <div class="view">View</div>
                    <div class="visit">Visit</div>                    
                </div>
            </div>
        </div>
        <div class="letsintern-internship-list absent"></div>
        <div class="intern-internship-list absent"></div>    
    </div>
</body>
<script src="index.js"></script>
</html>